main {
    display: flex;
    width: 100%;
    background-color: white;
    color: #e7530b;
    height: 100vh;
}
body{
    background-color: white;
}
.container {
    width: 100%;
    display: flex;
    padding: 4vw 6vw;
    margin-top: 5.1vw;
    align-items: center;
}

.spacebox {
    display: flex;
    width: 8%;
    color: white; 

}

.buttonbox {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

article{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    text-align: justify;
}

img {
width: 35vw;
min-width: 300px;
}

h2 {
    display: flex;
    color: white
}
h2 .CV_button {
    background-color: #e7530b;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

#index-text h1 {
font-size: 5rem;
flex-wrap: wrap;
}

#index-text p {
font-size: 2rem;
}

@media screen and (max-width: 900px){
    .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        overflow: auto;
    }


    img {
        width: 80vw;
        margin-top: 3rem;
    }

    article{
        padding: 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px){

}