#introduction {
    display: flex;
    position: relative;
    width: 100vw;
    height: 10vh;
    margin-top: 4.5rem;
    padding-left: 4vw;
    font-size: 2rem;
    align-items:center
}

.light-container{
    display: flex;
    background-color: white;
    padding: 4vw 6vmax;
    color: #e7530b;
    width: 100vw;
    align-items: center;
}

.light-container h2{
    color: #e7530b;
}
.dark-container{
    display: flex;
    background-color: #EAEEF6;
    padding: 5vw 7vw;
    color: black;
    width: 100vw;
    align-items: center;
}

.dark-container h2 {
    color: black;
}
.light-container .text{
    margin-left: 9vw;
}

.dark-container .text{
    margin-right: 9vw;
}
.text h2 {
    position: relative;
    align-items: center;
    font-size: 4vw;
}

.text p{
    font-size: 1.5rem;

}

img{
    height: 29vw;
    width: 29vw;
    padding: 1vw;
    border: 2px solid #e7530b;
}

img:hover {
    opacity: 0.5;
    height: 30vw;
    width: 30vw;
    padding: 0;
  }

h2:hover {
    opacity: 0.5;
    scale: 1.1;
}

@media screen and (max-width: 900px){}
    Main {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 0 0;
    }
    Main #text-container {
      margin: 0 0 0 0;
      height: auto;
    }
    Main #text-container h1 {
      text-align: center;
      margin: 2rem 0rem 0rem 0rem;
    }
    Main #text-container h2 {
      text-align: center;
    }
    Main #photo-container {
      display: flex;
      border: 5px solid rgb(80, 80, 80);
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      top: 50px;
    }