/*Blog Title Styling*/
#introduction {
    display: flex;
    position: relative;
    width: 100vw;
    min-height: 10vh;
    margin-top: 4.5rem;
    padding-left: 4vw;
    font-size: 2rem;
    align-items:center
}
/*white-background posts Styling*/
.light-container{
    display: flex;
    background-color: white;
    padding: 4vw 6vmax;
    color: #e7530b;
    width: 100vw;
    align-items: center;
}
.light-container h2{
    color: #e7530b;
}
.light-container .text{
  margin-left: 9vw;
}

/*Grey-background posts Styling*/
.dark-container{
    display: flex;
    background-color: #EAEEF6;
    padding: 5vw 6vw;
    color: black;
    width: 100vw;
    align-items: center;
}
.dark-container h2 {
    color: black;
}
.dark-container .text{
    margin-right: 9vw;
}

/*Text Styling*/
.text h2 {
    position: relative;
    align-items: center;
    font-size: 4vw;
}

.text p{
    font-size: 1.5rem;

}

h2:hover {
  opacity: 0.5;
  scale: 1.1;
}

/*Images Styling*/
img{
    height: 29vw;
    width: 29vw;
    padding: 1vw;
    border: 2px solid #e7530b;
}

img:hover {
    opacity: 0.5;
    height: 30vw;
    width: 30vw;
    padding: 0;
  }

/*Media Screen Styling*/
/*Laptop Screen */
@media screen and (max-width: 1280px){
  #introduction{
    font-size: 1.8rem;
  }
  .text h2{
    font-size: 2.5rem;
  }
  .text p {
    font-size: 1.2rem;
}
}

/*Tablet Screen */
@media screen and (max-width: 900px){
  #introduction{
    font-size: 1.8rem;
  }
  .text h2{
    font-size: 2rem;
  }
  .text p {
    font-size: 1.2rem;
}

}
/*Mobile Screen */
@media screen and (max-width: 500px){
  .light-container {
    flex-direction: column;
    text-align: start;
  }
  .light-container .text {
    margin: 0
  }
  .dark-container{
    flex-direction: column-reverse;
  }
  .dark-container .text {
    margin: 0
  }
  img {
    height: 79vw;
    width: 79vw;
    padding: 1vw;
    border: 2px solid #e7530b;
  }

  .text p {
      font-size: 1rem;
  }

  .text h3 {
    font-size: 0.8rem;
}


  }

