#introduction {
    display: flex;
    position: relative;
    width: 100vw;
    height: 10rem;
    margin-top: 5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    align-items:center
}


h2{
    font-size: 1rem;
}

.light-container{
    display: flex;
    background-color: white;
    padding: 10vw 7vw;
    color: #e7530b;
    width: 100vw;
    align-items: center;

    

}

.dark-container{
    display: flex;
    background-color: #EAEEF6;
    padding: 10vw 7vw;
    color: black;
    width: 100vw;
    align-items: center;

    

}

.light-container .text{
    margin-left: 9vw;
}

.dark-container .text{
    margin-right: 9vw;
}
.text h2{
    position: relative;
    align-items: center;
    font-size: 4vw;
}

.text p{
    overflow: scroll;
    font-size: 1.5rem;

}

img{
    height: 29vw;
    width: 29vw;
    padding: 1vw;
    border: 2px solid #e7530b;
}

img:hover {
    opacity: 0.5;
    height: 30vw;
    width: 30vw;
    padding: 0;
  }