/* General Style of the page */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

body {
    background-color: #e7530b;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
  }

/*Header Global-------------------------*/ 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #e7530b; 
    width: 100vw;
    height: 4.5rem;
    z-index: 10;
    padding: 1vw 4vw;
    border-bottom: 1px solid white;
    }
    
    #site-title {
      font-size: 2rem;
      color: #ffffff;
      font-weight: 600;
    }
    
    nav a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      color: #ffffff;
    }

    nav ul{
      text-align: right;
    }

    nav li{
      display: inline-block;
      margin-left: 2rem;
    }
  
    header a:hover {
      text-decoration: underline;
      font-weight: 900;
      margin: 0 1.5rem;
    }
    
/*footer Global----------------------*/
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #e7530b; 
    display: flex;
    justify-content: center;
    padding: 0.5rem 2.5rem;
  }
  /*footer end-------------------------*/


  @media screen and (max-width: 1024px) {

    #site-title {
      font-size: 1.5rem;
    }

  header a:hover {
    text-decoration: underline;
    font-weight: 900;
    margin: 0;
  }
  nav li{
    margin-left: 0.5rem;
  }
  }

  @media screen and (max-width: 425px){
    nav a{
      font-size: 1rem;
    }

    nav li{
      margin-left: 10px;
    }
  
  }