.container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 8vw 6vw 4vw 6vw;
  align-items: center;
  justify-content: flex-end;
}
#index-text {
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

#index-photo {
  display: flex;
}
#index-photo a {
  display: flex;
  justify-content: center;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  overflow: hidden;
  scale: 1.1;
  border: 10px solid rgb(80, 80, 80);
}

#index-photo a :hover {
  opacity: 0.5;
  scale: 1.1;
  border: 0;
}

#index-text h1 {
  font-size: 5rem;
  flex-wrap: wrap;
  
}

#index-text p {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  #index-text h1 {
  font-size: calc((4 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
  }

  #index-text p {
  font-size: calc((2.2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
  }


  #index-photo a{
    width: 60vw;
    height: 60vw;
    margin-top: 4.5rem;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
}
}